.background-images{
    
    background-size: cover;
    height: 100vh;
    background-blend-mode: darken;
    background: rgba(0, 0,0,0.7)  url(" https://miro.medium.com/v2/resize:fit:1400/format:webp/1*5lyavS59mazOFnb55Z6znQ.png");
}

.signin{
    background-color: #db0001;
    cursor: pointer;
    border-radius: 10px;
    width:150px; 
    height: 40px;  
    padding: 16px; 
}

.logo {
    width: 150px;
    cursor: pointer;
}
.email{
    text-align: center;
    padding: 250px;
    
}
input{
    width: 25%;
    height: 75%;
    
}
.TEXT{
    color: white;
}